// .btn {
// 	&,
// 	&:link,
// 	&:visited {
// 		text-transform: uppercase;
// 		text-decoration: none;
// 		padding: 1.5rem 4rem;
// 		display: inline-block;
// 		border-radius: 10rem;
// 		transition: all .2s;
// 		position: relative;
// 		font-size: $default-font-size;

// 		//Change for the <button> element
// 		border: none;
// 		cursor: pointer;
// 	}

// 	&:hover {
// 		transform: translateY(-3px);
// 		box-shadow: 0 1rem 2rem rgba($color-black, .2);

// 		&::after {
// 			transform: scaleX(1.4) scaleY(1.6);
// 			opacity: 0;
// 		}
// 	}

// 	&:active,
// 	&:focus {
// 		outline: none;
// 		transform: translateY(-1px);
// 		box-shadow: 0 .5rem 1rem rgba($color-black, .2);
// 	}

// 	&--white {
// 		background-color: $color-white;
// 		color: $color-grey-dark;

// 		&::after {
// 			background-color: $color-white;
// 		}
// 	}

// 	&--green {
// 		background-color: $color-primary;
// 		color: $color-white;

// 		&::after {
// 			background-color: $color-primary;
// 		}
// 	}

// 	&::after {
// 		content: "";
// 		display: inline-block;
// 		height: 100%;
// 		width: 100%;
// 		border-radius: 10rem;
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		z-index: -1;
// 		transition: all .4s;
// 	}

// 	&--animated {
// 		animation: moveInBottom .5s ease-out .75s;
// 		animation-fill-mode: backwards;
// 	}
// }

// .btn-text {
// 	&:link,
// 	&:visited {
// 		font-size: $default-font-size;
// 		color: $color-primary;
// 		display: inline-block;
// 		text-decoration: none;
// 		border-bottom: 1px solid $color-primary;
// 		padding: 3px;
// 		transition: all .2s;
// 	}

// 	&:hover {
// 		background-color: $color-primary;
// 		color: $color-white;
// 		box-shadow: 0 1rem 2rem rgba($color-black, .15);
// 		transform: translateY(-2px);
// 	}

// 	&:active {
// 		box-shadow: 0 .5rem 1rem rgba($color-black, .15);
// 		transform: translateY(0);
// 	}
// }
/////////
//default button
.wierdbutton a {
	background: rgba(white, 0);
	border-bottom: 1px solid;
	color: white;
	line-height: 1.4;
	padding: 1.25em;
	text-decoration: none;

	&:hover {
		background: rgba(#000, 1);
		color: #000;
	}
}

.wierdbutton a.btnwierd {
	color: #fff;
	cursor: pointer;
	// display: block;
	font-size: 16px;
	font-weight: 500;
	line-height: 45px;
	margin: 0 0 2em;
	max-width: 160px;
	position: relative;
	text-decoration: none;
	// box-shadow: 0 1rem 2rem rgba(#000, .15);
	// transform: translateY(-2px);
	//text-transform: uppercase;
	width: 90px;

	@media (min-width: 600px) {
		margin: 0 1em 2em;
	}
	@media (hover: hover) {
		&:hover {
			text-decoration: none;
			color: #000;
		}
	}
}

#w2 {
	//transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
}
#MyBtn {
	font-size: 30px;
	color: white;
	display: inline-block;
	text-decoration: none;
	background-color: #ad1313;
	padding: 1% 7%;
	margin: 4%;
	animation: shake 0.9s cubic-bezier(.36, .07, .19, .97) both infinite;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}
@keyframes shake {
	10%,
	90% {
		transform: rotate(-4deg);
	}
	20%,
	80% {
		transform: rotate(8deg);
	}
	30%,
	50%,
	70% {
		transform: rotate(-10deg);
	}
	40%,
	60% {
		transform: rotate(12deg);
	}
}
@keyframes shakey {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
#orderNow {
	font-size: 30px;
	color: white;
	display: inline-block;
	text-decoration: none;
	background-color: #b39f9f;
	padding: .8% 1.5%;
	margin: 4%;
	position: absolute;
	top: 5%;
	left: 75%;
	animation: shake 0.9s cubic-bezier(.36, .07, .19, .97) both infinite;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	@include respond(phone) {
		//padding: 1.2% 18.5%;
		margin: 4%;
		top: 82%;
		left: 25%;
	}
}
.ordernow {
	font-size: 30px;
	color: white;
	display: inline-block;
	text-decoration: none;
	background-color: #ad1313;
	//animation: shakey 0.9s cubic-bezier(.36, .07, .19, .97) both infinite;
	// transform: translate3d(0, 0, 0);
	// backface-visibility: hidden;
	// perspective: 1000px;

	margin: 4%;
	padding: .5% 33%;

	@include respond(phone) {
		padding: .4% 3%;
	}
}
.order {
	text-align: center;
}

@media only screen and (max-width: 900px) {
	#MyBtn {
		padding: 3% 8%;
		margin: 2%;
		font-size: 20px;
	}
	#w2 {
		position: absolute;
		top: 92%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		width: 100%;
	}
}
