.section-about {
	position: relative;

	background-color: $color-grey-light-1;
	padding: 5rem 0 10rem 0;
	margin-top: -17vh;

	@media only screen and (max-width: 900px) {
		padding: 5rem 0 10rem 0;
	}
}
.divider {
	border-bottom: 2px solid black;
	width: 90%;
	display: block;
	margin: auto;
	z-index: 200;
}
.divider2 {
	border-bottom: 2px solid black;
	width: 15%;
	display: block;
	margin: auto;
	z-index: 200;
}
#mid {
	height: 90vh;
}
@include respond(phone) {
	.divider {
		// margin: 135px auto 80px auto;
	}
	#rowsec {
		text-align: center;
	}
	.midsec {
		height: 100vh;
	}
	#mid {
		height: 240vh;
	}
}

.section-features {
	position: relative;

	padding: 5rem 0 10rem 0;
	background-color: $color-grey-light-1;
	//	background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
	//	url(../img/nat-4.jpg);
	background-size: cover;
	//transform: skewY(-7deg);
	margin-top: -10rem;

	& > * {
		//	transform: skewY(7deg);
	}

	@include respond(tab-port) {
		padding: 10rem 0;
		margin-top: -20rem;
	}
}

.section-tours {
	position: relative;

	background-color: $color-grey-light-1;
	padding: 5rem 0 15rem 0;
	margin-top: -10rem;

	@include respond(tab-port) {
		padding: 0rem 0 10rem 0;
	}
}

.section-stories {
	position: relative;

	background-color: $color-grey-light-1;
	padding: 5rem 0 15rem 0;
	margin-top: -10rem;

	@include respond(tab-port) {
		padding: 0rem 0 10rem 0;
	}
}

.section-book {
	position: relative;

	background-color: $color-grey-light-1;
	padding: 5rem 0 15rem 0;
	margin-top: -10rem;

	@include respond(tab-port) {
		padding: 0rem 0 10rem 0;
	}
}

.book {
	background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 50%, transparent 50%),
		url(../img/nat-10.jpg);
	background-size: 100%;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

	@include respond(tab-land) {
		background-image: linear-gradient(
				105deg,
				rgba($color-white, .9) 0%,
				rgba($color-white, .9) 65%,
				transparent 65%
			),
			url(../img/nat-10.jpg);
		background-size: cover;
	}

	@include respond(tab-port) {
		background-image: linear-gradient(to right, rgba($color-white, .9) 0%, rgba($color-white, .9) 100%),
			url(../img/nat-10.jpg);
	}

	&__form {
		width: 50%;
		padding: 6rem;

		@include respond(tab-land) {
			width: 65%;
		}

		@include respond(tab-port) {
			width: 100%;
		}
	}
}
